@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6 {
    color: #d8d8d8;
}

button {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}

button:hover {
    background-color: #3a3833;
}

.navbar {
    font-size: 1rem;
    top: 0;
    left: 0;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active
.navbar i.active {
    color: red;
}

.navbar i {
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

.navbar a {
    color: #000;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: red;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }

#bar {
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s ease;
    color: black;
}

#bar:hover,
#bar.active {
    color: #FFFFFF;
}

@media only screen and (max-width: 991px) {
    body > header > nav > div > button:hover,
    body > header > nav > div > button:focus {
        background-color: red;
    }

    #navbarSupportedContent > ul {
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > a {
        padding: 10px 0;
    }
}

/* Mobile Nav */

.navbar-light .navbar-toggler {
    border: none;
    outline: none;
}

.mask {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 15px;
    border: 1px solid #000;
}

.form-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    background-color: red;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #3a3833;
}

#footer {
    background-color: #222;
}

#footer h5 {
    position: static;
    color: #d8d8d8;
    height: 20px;
    left: 0;
    top: 0;
    font-family: Poppins, Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .01em;
    columns: #121212;
}

#footer h6{
    margin-bottom: 8px;
    font-size: .75rem;
    line-height: 1rem;
}

#footer li{
    padding-bottom: 4px;
}

#footer li a {
    font-size: 0.8rem;
    color: #FFFFFF;
}

#footer li a:hover {
    color: red;
}

#footer p {
    color: #FFFFFF;
    font-size: 0.8rem;
}

#footer .input {
    display: flex;
    flex-direction: row;
}

#footer .input .form-control {
    font-size: .875rem;
    width: 200%;
    background-color: #f6f6f6;
    color: #121212;  
}

#footer .btn {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    line-height: 1.2;
    background-color: red;
    border-radius: 0 4px 4px 0;
    color: #FFFFFF;
    padding: 0;
    height: 40px;
    width: 75%;
    font-size: .875rem;
    cursor: pointer;
}

#footer .copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#footer .copyright a {
    width: 32px;
    height: 32px;
    font-size: 1.5rem;
    display: inline-table;
}

#footer .copyright img {
    height: 100%;
    width: 100%;
}